
/* Mobile Version Starts Here */

@media (min-width: 375px) {
  /* Global Styles Starts Here */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  body {
    background-color: #e5e5e5;
  }

  a {
    text-decoration: none;
  }

  /* Global Styles Ends Here */

  /* Navbar starts here */

  .header_navbar {
    width: 100%;
    height: 48px;
    background-color: #fff;
  }

  .navbar {
    width: 84%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #6070ff;
  }

  .nav_icon {
    height: 12px;
    cursor: pointer;
  }

  .desktop_nav {
    display: none;
  }

  /* Navbar ends here */

  /* Banner Section starts here */

  .banner {
    width: 100%;
    min-height: 604px;
    background: #fff url(images/header-bg-mobile.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner_content_wrapper {
    width: 87%;
    min-height: 376px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h1.banner_content {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }

  p.banner_content {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .lets_connect {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
  }

  .banner_social_icons_wrapper {
    width: 170px;
    height: 20px;
    display: flex;
    justify-content: space-between;
  }

  .banner_social_icons_wrapper > li {
    list-style: none;
  }

  /* Banner Section Starts Here */

  /* Works Section Starts Here */

  section.works {
    width: 100%;
    min-height: 2788px;
    display: grid;
    grid-template-rows: repeat(4, 552px);
    align-content: center;
    justify-items: center;
    gap: 114px 0;
  }

  .work_card {
    width: 87%;
    min-height: 596px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .work_card_wrapper {
    width: 90%;
    min-height: 564px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .work_img {
    width: 100%;
    height: 220px;
  }

  .work_card_content_wrapper {
    width: 100%;
    min-height: 332px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .work_title {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  ul.work_tags {
    display: flex;
    justify-content: space-between;
    width: 236px;
    height: 32px;
  }

  li.work_tags {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
  }

  .work_tags.main_tag {
    list-style: none;
    color: #344563;
    text-transform: uppercase;
  }

  .work_description {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
  }

  ul.work_tech_stack {
    width: 214px;
    height: 24px;
    display: flex;
    justify-content: space-between;
  }

  li.work_tech_stack {
    list-style: none;
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
  }

  .work_button {
    width: 126px;
    height: 48px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
  }

  /* Works Section Ends Here */

  /* About Section Starts Here */

  section.about {
    width: 100%;
    min-height: 1062px;
    display: grid;
    align-content: center;
    justify-items: center;
    gap: 48px 0;
    border-top-right-radius: 100px;
    background-color: #fff;
  }

  .about_content_wrapper {
    width: 87%;
    min-height: 346px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h3.about_content {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }

  p.about_content {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .about_social_box {
    width: 200px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .about_social_box > ul {
    align-self: flex-end;
  }

  button.resume_button {
    width: 162px;
    height: 48px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
  }

  /* skills sub-section starts here */
  .skills_wrapper {
    width: 87%;
    min-height: 464px;
  }

  .skills_wrapper_header {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .dropdown_wrapper {
    width: 100%;
  }

  .dropdown_arrow_wrapper {
    min-height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .dropdown_title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    flex-basis: 72%;
  }

  .dropdown_arrow {
    width: 12px;
    height: 6px;
    cursor: pointer;
  }

  .dropdown_arrow.close_icon {
    transform: rotateZ(-90deg);
  }

  ul.skills_list {
    width: 93%;
    height: 248px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  li.skills_list {
    width: 100%;
    min-height: 67px;
    list-style: none;
    display: flex;
    align-items: center;
    background: #f7f7f9;
    border-radius: 8px;
  }

  .skills_img {
    width: 48px;
    height: 48px;
    margin-right: 16px;
    margin-left: 12px;
    cursor: pointer;
  }

  .skills_title {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #253858;
  }

  /* skills sub-section ends here */

  /* About Section Ends Here */

  /* Contact Section Starts Here */

  section.contact {
    padding-top: 50px;
    background-color: #fff;
  }

  .contact_wrap {
    width: 100%;
    min-height: 779px;
    background: #6070ff url(images/contact-section-bg.png);
    background-size: contain;
    background-position-x: right;
    background-position-y: 21px;
    background-repeat: no-repeat;
    border-top-left-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .contact_content_wrap {
    width: 87%;
    min-height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 45px;
  }

  .contact_content {
    text-align: center;
  }

  h3.contact_content {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
  }

  p.contact_content {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #ebebff;
  }

  .contact_form {
    width: 100%;
    min-height: 374px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .form_input {
    width: 100%;
    min-height: 48px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
    padding-left: 16px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
  }

  .form_input.textarea {
    height: 170px;
    padding-top: 15px;
    font-size: 15px;
    line-height: 24px;
    color: #b3bac5;
  }

  button.form_input {
    width: 142px;
    padding: 0;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #6070ff;
  }

  /* Contact Section Ends Here */
}

/* Mobile Version Ends Here */

/* Desktop Version Starts Here */

@media (min-width: 768px) {
  /* Navbar starts here */

  .header_navbar {
    height: 72px;
  }

  .navbar {
    width: 74%;
  }

  .nav_icon {
    display: none;
  }

  ul.desktop_nav {
    width: 250px;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  li.desktop_nav_links {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #344563;
  }

  /* Navbar ends here */

  /* Banner Starts Here */

  section.banner {
    min-height: 844px;
    background-image: url(images/desktop-header-bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right 46px;
    border-bottom-left-radius: 100px;
  }

  .banner_content_wrapper {
    width: 64%;
    min-height: 302px;
  }

  h1.banner_content {
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
    color: #091e42;
  }

  p.banner_content {
    font-size: 20px;
    line-height: 28px;
  }

  /* Banner Ends Here */

  /* Work Section Starts Here */

  section.works {
    width: 80%;
    min-height: 2694px;
    gap: 0;
    align-content: space-evenly;
    margin: auto;
  }

  .work_card {
    width: 100%;
    min-height: 496px;
  }

  .work_card_wrapper {
    width: 94%;
    min-height: 448px;
    flex-direction: row;
  }

  .work_card_wrapper.work_2,
  .work_card_wrapper.work_4 {
    flex-direction: row-reverse;
  }

  .work_img {
    display: none;
  }

  .work_img_wrapper {
    width: 50%;
    min-height: 448px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .work_img_wrapper.work_1 {
    background-image: url(images/desktop-work-1.png);
  }

  .work_img_wrapper.work_2 {
    background-image: url(images/desktop-work-2.png);
  }

  .work_img_wrapper.work_3 {
    background-image: url(images/desktop-work-3.png);
  }

  .work_img_wrapper.work_4 {
    background-image: url(images/desktop-work-4.png);
  }

  .work_card_content_wrapper {
    width: 46%;
    min-height: 312px;
  }

  .work_title {
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  ul.work_tags {
    width: 297px;
    height: 24px;
  }

  .work_tags.main_tag {
    font-weight: 500;
  }

  li.work_tags {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .work_description {
    font-size: 16px;
  }

  li.work_tech_stack {
    text-transform: lowercase;
  }

  /* Work Section Ends Here */

  /* About Section Starts Here */

  section.about {
    min-height: 668px;
    grid-template-columns: 31% 48%;
    justify-content: space-evenly;
  }

  .about_content_wrapper,
  .skills_wrapper {
    width: 100%;
  }

  .about_content_wrapper {
    max-height: 311px;
    min-height: 311px;
  }

  .skills_wrapper {
    min-height: 336px;
    max-height: 336px;
  }

  h3.about_content {
    color: #091e42;
  }

  ul.skills_list {
    height: auto;
    flex-direction: row;
  }

  li.skills_list {
    width: 122px;
    height: 120px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  h5.skills_title {
    margin-left: 12px;
  }

  /* About Section Ends Here */
}

/* Desktop Version Ends Here */

/* Global Styles Starts Here */

button:hover {
  background-color: #396df2;
  color: #fff;
  cursor: pointer;
}

/* Global Styles Ends Here */
